.div1 {
    border: 1px lightgray;
    background-color: lightgray;
    height: 70px;
    width: 1343px;

}

.img1 {
    position: relative;
    left: 20px;
    top: 20px;
}

.addr {
    color: gray;
    position: relative;
    left: 60px;
    bottom: 25px;
}

.img2 {
    height: 30px;
    width: 30px;
    position: relative;
    left: 300px;
    bottom: 70px;
}

.addr2 {
    color: gray;
    position: relative;
    left: 340px;
    bottom: 115px;
}

.phone {
    position: relative;
    left: 940px;
    bottom: 157px;
}

.num {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    position: relative;
    left: 980px;
    bottom: 200px;
}

.logo {
    padding: 10px;
    position: relative;
    left: 1120px;
    bottom: 250px;
}

.li1 {

    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;

}

.al {
    color: black;
    text-decoration: none;
    position: relative;
    left: 550px;
    bottom: 150px;
}

.car {
    position: relative;
    left: 50px;
    top: 10px;
}

.btn {
    padding: 20px;
    position: relative;
    left: 563px;
    bottom: 160px;
    font-weight: bolder;
    font-size: 23px;
    background-color: red;
}

.slide {
    height: 600px;
    width: 100%;
    border: 1px white;
    margin: 4rem auto;
    border-radius: 5px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: 200px;
    background: url("Images/1.img.jpg") center/cover;

}

.bot-left {
    position: absolute;
    top: 50%;
    left: 1%;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 50%;
    transform: translateY(calc(-50%));
}

.bot-right {
    position: absolute;
    top: 50%;
    right: 1%;
    background-color: rgb(241, 240, 240);
    padding: 10px;
    border-radius: 50%;
    transform: translateY(calc(-50%));
}

.simple {
    border: 1px white;
    width: 300px;
    height: 230px;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-left: 50px;
    position: relative;
    bottom: 200px;
    left: 10px;
}

.lor {
    width: 280px;
    font-weight: bold;
    position: relative;
    bottom: 70px;
    left: 35px;
}

.iconic {
    width: 50px;
    height: 50px;
    position: relative;
    right: 30px;
}

.simplef {
    border: 1px white;
    width: 300px;
    height: 230px;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-left: 50px;
    position: relative;
    left: 470px;
    bottom: 465px;
}

.simples {
    border: 1px white;
    width: 350px;
    height: 230px;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-left: 50px;
    position: relative;
    left: 930px;
    bottom: 725px;
}
.aboutbtn{
    
    padding: 10px;
    padding-right: 20px;
    font-weight: bolder;
    font-size: 23px;
    background-color: red;
}
.about-lore{
    color: #756278;
}
.about{
    position: relative;
    left: 750px;
    bottom: 700px;
    z-index: 1;
}
.opa{
    color:#ffffff;
    border: 1px white;
    width: 200px;
    height: 180px;
    background-color: gray;
    opacity: 0.3;
    position: relative;
    bottom: 1240px;
    left: 420px;
    z-index: 2;
}
.years{
    color: rgb(249, 248, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 1430px;
    left: 450px;
    z-index: 3;
}
.after-about{
    
    text-decoration: none;
    border: 1px red;
    background-color: rgb(134, 129, 129);
    padding: 30px;
    color: black;
    position: relative;
    bottom: 1500px;
    left: 100px;
    padding-right: 100px;
    padding-left: 100px;
    
}
.after-about-second{
    text-decoration: none;
    border: 1px rgb(134, 129, 129);
    background-color: rgb(134, 129, 129);
    padding: 30px;
    color: black;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    bottom: 1415px;
    left: 100px;

}
.after-about-third{
    text-decoration: none;
    border: 1px rgb(134, 129, 129);
    background-color: rgb(134, 129, 129);
    padding: 30px;
    color: black;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    bottom: 1320px;
    left: 100px;

}
.after-about-fourth{
    text-decoration: none;
    border: 1px rgb(134, 129, 129);
    background-color: rgb(134, 129, 129);
    padding: 30px;
    color: black;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    bottom: 1225px;
    left: 100px;

}
.imp{
   position: relative;
   bottom: 400px;
   
}
.after-about:hover{
    background-color: red;
}
.after-about-second:hover{
    background-color: red;
}
.after-about-third:hover{
    background-color: red;
}
.after-about-fourth:hover{
    background-color: red;
}
.luxury{
    position: relative;
    bottom: 1600px;
    z-index: 1;
}
.pngnew{
    height: 50px;
    width: 50px;
    padding: 130px;
    position: relative;
    bottom: 1950px;
    z-index: 2;
}
.numbers{
    color: rgb(247, 246, 246);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    transition: 2s;
    position: relative;
    bottom: 2070px;
    left: 10px;
    padding-right: 100px;
    z-index: 3;
}
.num-align{
    display: inline;
    padding: 120px;
    
}
.temp-about{
    position: relative;
    bottom: 2050px;

}
.temp-text{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    padding: 70px;
    font-weight: bolder;
    font-size: 20px;
}
.after-temp{
    text-align: center;
    position: relative;
    bottom: 1900px;

}
.after-temp-head{
    color: #0b2154;
    font-size: 60px;
    
}